<footer class="footer">
  <small>
    <strong><a href="http://www.kissanime.ru/">Anime watching Site</a></strong>
    by <em><a href="http://www.kissanime.ru/">Copy Rights</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>
